# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
.eggs/
*.log
*.pot
*.mo
*.pyc
.pytest_cache/
.cache/
.tox/
.coverage
*.coverage
.coverage.*
.nox/
htmlcov/
*.ipynb_checkpoints
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# dbt
dbt_packages/
src/target/
src/logs/
manifest.json
run_results.json
profiles.yml
.user.yml

# other
.DS_Store
.idea/